html, body, #container{
	position: absolute;
	margin: 0px;
	font-family: Arial;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: white;
	/*background-color: rgb(238, 223, 16);*/
}

#container {
	padding-top: 100px;
}

#title_header {
	z-index: 3;
	/*opacity: 0.95;*/
	position: fixed;
	height: 125px;
	width: 100%;
	top: 0%;
	background-color: #EDE21E;
	box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.4);
}

#header_logo {
	width: 150px;
	height: 125px;
	background-position: center;
	background-image: url('./imgs/TAG_trend_logo.png');
	background-repeat: no-repeat;
	background-size: 60%;
	position: fixed;
	right: 0%;
}

#header_title {
	width: 300px;
	height: 125px;
	background-position: center;
	background-image: url('./imgs/TRENDS_logo.png');
	background-repeat: no-repeat;
	background-size: 60%;
	position: fixed;
	left: 0%;
}

.frame {
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 25%;
	padding-bottom: 25%;
}

.video_player {
	z-index: 2;
	top: 50%;
 	left: 50%;
 	position: fixed;
 	transform: translateX(-50%) translateY(-50%);
}

#youtube_player {
	display: none;
}

#vine_player {
	display: none;
}

#vine_video video {
	height: 480px;
	width: 480px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#dim_overlay {
	z-index: 1;
	display: none;
	top: 0%;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background: -webkit-radial-gradient(circle, white, black, black);
	background: radial-gradient(circle, white, black, black);
}

.youtube_frame {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.reddit_frame {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.vine_frame {
	padding-bottom: 0px;
}

.vine_iframe {
	width: 100%;
}

.frame_info {
	z-index: 1;
	position: absolute;
	height: 15%;
	width: 100%;
	bottom: 0%;
	/*background-color: white;*/
	opacity: 0.8;
}

.logo {
	/*left: 5%;*/
	background-position: center;
	top: 10%;
	width: 20%;
	height: 80%;
	position: absolute;
	background-repeat: no-repeat;
}

.vine_frame_logo {
	background-size: 60%;
	background-image: url('imgs/TAG_trends_vine_icons.png');
}

.vine_frame_logo:hover {
	background-image: url('imgs/TAG_trends_white_vine_icons.png');
}

.reddit_frame_logo {
	background-size: 50%;
	background-image: url('imgs/TAG_trends_rediit_icons.png');
}

.reddit_frame_logo:hover {
	background-image: url('imgs/TAG_trends_white_rediit_icons.png');
}

.youtube_frame_logo {
	background-size: 70%;
	background-image: url('imgs/TAG_trends_YT_icons.png');
}

.youtube_frame_logo:hover {
	background-image: url('imgs/TAG_trends_white_YT_icons.png');
}

.votes {
	right: 0%;
	top: 10%;
	width: 20%;
	height: 80%;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 55%;
}

.reddit_frame_votes {
	background-image: url('imgs/TAG_trends_arrow_icons.png');
}

.youtube_frame_votes {
	background-image: url('imgs/TAG_trends_thumbsup_icons.png');
}


.vine_frame_votes {
	background-image: url('imgs/TAG_trends__loop_icons.png');
}
.vote_count {
	display: none;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 175%;
	font-size: 150%;
	top: -100%;
	right: 0%;
	width: 30%;
	height: 80%;
	position: absolute;
}